<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h1>This is a Registration Page.</h1></center>
    <center>
     <form method='post'>
        {% csrf_token %}
        <label for="un">Username</label>
        <input type="text" name="ename" id="un"> <br>
        <label for="pno" id='pno'>Phone Number</label>
        <input type="text" name="pno" id="pno"> 
        <br>
        <label for="Email" id='email'>Email</label>
        <input type="text" name="email" id="email"> 
        <br>
        <label for="pno" id='add'>Address</label>
        <input type="text" name="add" id="add"> 
        <br>
        <button type="submit">Register</button>
     </form>
    </center>
    
    
</body>
</html>